@import url('https://fonts.googleapis.com/css?family=Baloo|Open+Sans|Josefin+Sans|Raleway|Lexend+Deca|Montserrat:400,900i&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
  width:100vw;
  overflow-x:hidden;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10vh auto;
    width: 100%;
    min-height:100vh !important; 
    position:relative;
}


.item {
    /* background-color: #ebebeb; */
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

/* .item:nth-of-type(2)
{
    border-left: 1px solid white;
    font-family: 'Lexend Deca', sans-serif;
}

.item:nth-of-type(3)
{
    border-top: 1px solid white;
} 
*/
.item:nth-of-type(4)
{
    border-left: 1px solid white; border-top: 1px solid white;
} 
   
  body {
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;

  }
  
  ul { list-style-type: none; }
  
  a {
    color: #b63b4d;
    text-decoration: none;
  }
  
  /** =======================
   * Contenedor Principal
   ===========================*/
  
  
  h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
  }
  
  h1 a {
    color: #c12c42;
    font-size: 16px;
  }
  
  .accordion {
    width: 100%;
    max-width: 100%;
    margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
  }
  
  #divfix {
      position: sticky;
      top: 0;
      padding-top: 1%;
  }

  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }
  
  .accordion li.open .link:not(#homeBtn) { color: #b63b4d; }
  
  .accordion li.open i:not(#homeBtn) { color: #b63b4d; }
  
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .active {
    background-color: gray;
}

  /**
   * Submenu
   -----------------------------*/
  
  
  .submenu {
    display: none;
    background: #444359;
    font-size: 14px;
  }
  
  .submenu li { border-bottom: 1px solid #4b4a5e; }


  .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .submenu a:hover {
    background: #b63b4d;
    color: #FFF;
  }

  #footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    margin-top: -2em;
    background: rgb(30,30,43);
    background: linear-gradient(90deg, rgba(30,30,43,1) 0%, rgba(54,54,75,1) 100%);
  }
  /* Baloo|Open+Sans|Josefin+Sans|Raleway|Lexend+Deca|Montserrat:400,900 */
  #main-heading {
    font-family: 'Baloo', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 130%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -150%);
  }

  #main-text {
    font-family: 'Josefin Sans';
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -160%);
  }

  
  #btn-grad {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%)}
  #btn-grad:hover { background-position: right center; }
  
  #homeDiv {
    height: 100%;
    position: relative;
    text-align: center;
  }
  
  #title {
    font-family: 'Baloo', cursive;
    font-weight: 200;
    color: #444359;
    font-size: 2em;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
  }
  
  .top-gradient {
    background: rgb(255,255,255);
    -webkit-box-shadow: 0px 0px 15px -15px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 15px -15px rgba(0,0,0,0.75);box-shadow: 0px 15px 15px -15px rgba(0,0,0,0.75);
    /* max-height: 10vh; */
  }
  
  img.logo {
    display: block;
    position: relative;
    width: 4.5vw;
    padding: 2%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* =Baloo|Open+Sans|Josefin+Sans|Raleway|Lexend+Deca|Montserrat */

.btn-hover {
  font-family: 'Montserrat', cursive;
  text-transform: uppercase;
  font-size: 1em;
  font-weight:400;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -10%);

  border-radius: 10px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
